
@{
    ViewBag.Title = "eventsDateSelect";
    var uID = ViewData["userId"];
    var time = ViewData["time"];
}

<h2>Events Reports Date Select</h2>
<br />
<p>Please select a date to filter the events</p>
<br />
@using (Html.BeginForm("eventsReport", "Reports", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div style="display:none;">
        <input type="text" id="id" name="id" value="@uID">
    </div>
    <label class="col-md-3">@Html.Label("Start Date:")</label>
    <input type="datetime-local" id="startDate" name="startDate">
    <br />
    <br />
    <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("reportsScreen", "Reports", new { id = uID })'">
        Cancel
    </button>
    <input type="submit" , class="btn btn-primary" value="Submit" id="submitButton" disabled />
    <label>Hint: Complete all the fields for the submit button to enable.</label>
}

<script>
    function checkInput() {
        var slotTime = $("#slotTime").val();
        if (slotTime != "") {
            document.getElementById("submitButton").disabled = false;
        }// no input
    }
    window.oninput = checkInput;
</script>


