
@{
    ViewBag.Title = "examDateSelect";
    var uID = ViewData["userId"];
}

<h2>Exam Report Date Select</h2>
<br />
<p>Please select a date to filter the exams</p>
<br />
@using (Html.BeginForm("examReport", "Reports", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div style="display:none;">
        <input type="text" id="id" name="id" value="@uID">
    </div>
    <label class="col-md-3">@Html.Label("Start Date:")</label>
    <input type="datetime-local" id="startDate" name="startDate">
    <br />
    <br />
    <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("reportsScreen", "Reports", new { id = uID })'">
        Cancel
    </button>
    <input type="submit" , class="btn btn-primary" value="Submit" id="submitButton" />
}

<script>
    function timer() {
        window.location.href = '/Sys_User/loginScreen';
    }
    window.oninput = setTimeout(timer, 300000);
</script>

