@model SkyExams.Models.Sys_User
@{
    ViewBag.Title = "studyResourceHelp";
    var help = ViewData["help"];
}

<h2>Study Resource Help</h2>
<br />
<button type="button" class="btn btn-info" onclick="location.href='@Url.Action("resourceScreen", "Study_Resource", new { id = Model.SysUser_ID })'">
    Back
</button>
<br />
<label><b>Study Resources</b></label>
<br />
<p>@help</p>

<script>
    function timer() {
        window.location.href = '/Sys_User/loginScreen';
    }
    window.oninput = setTimeout(timer, 300000);
</script>

