@model SkyExams.Models.Registration_Sheet
@{
    ViewBag.Title = "captureRegistration";
    var uID = ViewData["userId"];
}

<h2>Capture Registration</h2>
@using (Html.BeginForm("captureRegistration", "Sys_User", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div style="display:none;">
        <input type="text" id="id" name="id" value="@uID">
    </div>
    <div style="display:none;">
        <input type="text" id="id" name="id" value="@Model.Sheet_ID">
    </div>
    @Html.ActionLink("View/Download", "downloadSheet", new { id = Model.Sheet_ID })
    <label class="col-md-3">Upload the Spreadsheet (upload a .xls or .xlsx file):</label>
    <input class="col-md-3" type="file" id="regSheet" name="regSheet" />
    <br />
    <br />
    <button type="button" onclick="location.href='@Url.Action("viewAccount", "Sys_User", new { id = uID })'">
        Cancel
    </button>
    <input type="submit" , value="Submit" id="submitButton" />
}


