
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm("homeScreen", "Sys_User", FormMethod.Post))
{
    <label>@Html.Label("Username:")</label>
    @Html.TextBox("userName")
    <br />
    <br />
    <label>@Html.Label("Password:")</label>
    @Html.TextBox("password")
    <input type="submit" , value="Forgot password" />
    <br />
    <br />
    <input type="submit" , value="Login" />
    <br />
    <br />
    <input type="submit" , value="Register" />
}

