@model SkyExams.Models.Booking
@{
    ViewBag.Title = "deleteBooking";
    var uID = ViewData["uID"];
}

<h2>Delete Booking</h2>
<p>Are you sure you wish to delete this Booking</p>
<br />
<br />
<dl class="dl-horizontal">
    <dt class="col-md-4">
        @Html.Label("Date and Time:")
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Date_Time)
    </dd>

</dl>
<button type="button" onclick="location.href='@Url.Action("bookingsScreen", "Bookings", new { id = uID })'">
    Back
</button>
<button type="button" onclick="location.href='@Url.Action("deleteBookingConformation", "Bookings", new { id = uID, bookingId = Model.Booking_ID })'">
    Delete
</button>

